.card-img-top {
    object-fit: cover;
    height: 10rem;
}

.divImgModal {
    overflow: hidden;
}

.modalImg {
    height: 15rem;
}

.bi-trash-fill:hover {
    cursor: pointer;
}

#chill {
    background-image: url(./img/background.jpg)
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#gradient {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
